# Python
venv/
**/venv/
__pycache__/
*.pyc
*.pyo

# Node
node_modules/
**/node_modules/
dist/
dist-ssr/
build/

# Logs y temporales
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.tmp
*.local
.hugo_build.lock

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Backups
*.bak
*.bak*
*.swp

# Datos generados del proyecto
Backend/data/exports/
Backend/logs/

# Archivos pesados / instaladores
*.deb
*.joblib.bak*
