# Python
venv/
**/venv/
__pycache__/
*.pyc
*.pyo

# Node
node_modules/
**/node_modules/
dist/
dist-ssr/
build/

# Logs y temporales
logs/
*.log
*.tmp
*.local
.hugo_build.lock

# Backups
*.bak
*.bak*
*.swp

# Datos generados
Backend/data/exports/
Backend/logs/

# Archivos pesados / instaladores
*.deb
*.joblib.bak*
